*, *:before, *:after{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

html{
    height: 322px;
}


.body{

}
.brand__img{
    width: 100px;
}