body {
    width: 320px;

}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid #D9FFF5;
}
.head__logo{
    left: 22.73%;
    right: 47.1%;
    top: 3.11%;
    bottom: 88.37%;
    min-width: 40px;
}
.head__menu{
    left: 5%;
    right: 82.5%;
    top: 4.02%;
    bottom: 89.28%;
    min-width: 40px;
}
.head__divider{
    left: 58.12%;
    right: 41.25%;
    top: 4.69%;
    bottom: 89.95%;
    min-width: 40px;
}
.head__repair{
    left: 65%;
    right: 22.5%;
    top: 4.02%;
    bottom: 89.28%;
    min-width: 40px;
}
.head__checkstatus{
    left: 82.5%;
    right: 5%;
    top: 4.02%;
    bottom: 89.28%;
    min-width: 40px;
}
