*, *:before, *:after{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.page{
    font-family: 'TT Lakes', serif;
}
.content{
    max-width: 1440px;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 88px;

    padding-bottom: 24px;
    padding-top: 24px;

    border-bottom: 1px solid #D9FFF5;
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    /*flex-basis: 104px;*/
}

.head__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding-right: 8px;
    padding-left: 8px;
}
.head__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
}

.button{
    background: white;
}

.burger{
    padding-right: 8px;
    padding-left: 8px;
}
.logo{
    padding-right: 8px;
    padding-left: 8px;

}
.call{
    padding-right: 8px;
    padding-left: 8px;
}
.chat{
    padding-right: 8px;
    padding-left: 8px;
}
.profile{
    padding-right: 8px;
    padding-left: 8px;
}
.repair{
    padding-right: 8px;
    padding-left: 20px;
    border-left: 2px solid #EAEAEA;
    margin-left: 12px;
}
.checkstatus{
    padding-right: 8px;
    padding-left: 8px;
}

.main{
    background: #F8F8F8;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 24px;
    padding-top: 24px;
    width: 100%;

}
.title__name{
    border-left: 4px solid #41F6D7;
    padding-left: 20px;
    width: 100%;
}

.slidemenu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    background: inherit;
    width: 100%;

}
.slidemenu__address{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: inherit;
    flex-shrink: 0;
    margin-bottom: 12px;
}
.slidemenu__brand--state--active{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    border: 2px solid #B8FFEC;
    margin-left: 24px;
    border-radius: 6px;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: #FFFFFF;
    flex-shrink: 0;
    margin-bottom: 12px;
}
.slidemenu__devices{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: inherit;
    flex-shrink: 0;
    margin-bottom: 12px;
}
.slidemenu__price{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: inherit;
    flex-shrink: 0;
    margin-bottom: 12px;
}
.slidemenu__review{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: inherit;
    flex-shrink: 0;
    margin-bottom: 12px;
}
.slidemenu__specialprices{
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    letter-spacing: -0.2px;
    padding: 8px 16px;
    background: inherit;
    flex-shrink: 0;
    margin-bottom: 12px;
}


.blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog__image{
    object-fit: cover;
    height: 30%;
}
.blog__text{
    max-width: 460px;

    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: -0.2px;

    color: #1B1C21;

}

@media (max-width: 768px) {
    .call, .chat, .profile {
        display: none;
    }
    .slidemenu{
        overflow-y: hidden;
    }
}
@media (min-width: 768px) {
    .burger{
        border-right: 2px solid #EAEAEA;
        padding-right: 20px;
        margin-right: 12px;
    }
    .slidemenu{
        overflow-y: hidden;
    }
}
@media (min-width: 1120px) {
    .slidemenu{
        flex-wrap: wrap;
    }
}