body {

}

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #D9FFF5;
    object-fit: fill;
}
.head__logo{


}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
}
.menu__button{
    border: 1px solid white;
    background: white;
    display: flex;

}
.menu__image{
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
}
.head__divider{


}
.head__repair{


}
.head__checkstatus{


}
